.topnav {
  background-color: rgb(24, 116, 165);
  height: 80px;
  color: white;
  text-indent: 0px;
}

.topnav button {
  background-color: rgb(247, 127, 0);
}

.topnav a {
  background-color: rgb(247, 127, 0);
  color: white;
}

body {
  background-color: rgb(40, 35, 44);
  color:white;
  text-indent: 20px;
}

.piece1 {
  background-color: rgb(24, 116, 165);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

p {
padding: 10px;
}

.transformers {
float: right;
width: 331px;
height: 504px:
border: 10px white;
margin-right: 10px;
margin-left: 10px;
}


.blackhole1 {
  width: 330px;
  height: 510px;
  float: right;
  margin-right: 10px;
}

.blackhole2 {
  width: 330px;
  height: 510px;
margin-left: 10px;
}

.piece2and3 {
  width: 700px;
  height: auto;
background-color: rgb(24, 116, 165);
border-radius: 5px;
margin-left: auto;
margin-right: auto;
}

.piece2and3 h1 {
  text-align: center;
}

.piece1 {
  width: 600px;
  height: auto;
}

.piece1 h1 {
  text-align: center;
}




.halyxAlbum {
  width: 586px;
  height: 516px;
  margin-left: 60px;
  margin-right: 60px;
}

.piece4 {
  background-color: rgb(24, 116, 165);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 700px;
}

.piece4 h1 {
  text-align: center;
}


.intro {
  text-align: center;
}

footer {
    background-color: rgb(193, 73, 83);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 1px;
}
